:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
  

body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

.center {
    padding: 1em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    width: fit-content;
    border-top: 6px solid #2196F3;
    background-color: #ddffff;
    color: black;
    padding: 2em;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-family: 'Open Sans', sans-serif;
    margin: 1em;
}

.ruler {
    width: 100%;
    height: 2px;
    background-color: black;
}

.grid {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    margin: 1em;
}

.grid-item {
    padding: 0.5em;
    border: 2px solid black;
    text-align: center;
}

.grid-item:nth-child(221) {
    background-color: black;
}